.bus {
    height: 5%;
    background-color: rgb(139, 3, 139);
    color: white;
}

.subway {
    height: 5%;
    background-color: rgb(9, 9, 117);
    color: white;
}

.suburban {
    height: 5%;
    background-color: rgb(12, 116, 3);
    color: white;
}