<!DOCTYPE html>
<html>

<head>
    <meta charset="utf8">
    <link href="https://fonts.googleapis.com/css?family=Roboto:100,300,400,500,700,900|Material+Icons" rel="stylesheet" type="text/css">
    <link href="https://cdn.jsdelivr.net/npm/quasar@2.6.0/dist/quasar.prod.css" rel="stylesheet" type="text/css">
    <meta name="format-detection" content="telephone=no">
    <meta name="msapplication-tap-highlight" content="no">
    <link rel="shortcut icon" href="/favicon.ico" type="image/x-icon">
    <meta name="viewport" content="user-scalable=no, initial-scale=1, maximum-scale=1, minimum-scale=1, width=device-width, viewport-fit=cover">
    <link rel="stylesheet" href="/index.css">
</head>

<body>
    <div id="q-app">
        <div class="q-pa-md">
            <div class="q-pa-md">
                <q-layout view="hHh Lpr lff">
                    <q-header elevated class="bg-primary">
                        <q-toolbar>
                            <q-btn flat @click="drawer = !drawer" round dense icon="menu"></q-btn>
                            <q-toolbar-title>BVG-client</q-toolbar-title>
                        </q-toolbar>
                    </q-header>

                    <q-drawer v-model="drawer" show-if-above :width="200" :breakpoint="500" bordered class="bg-grey-3">
                        <q-scroll-area class="fit">
                            <q-list>
                                <template v-for="(menuItem, index) in menuList" :key="index">
                                    <q-item clickable :active="menuItem.label === activeTab" @click="changeTab(menuItem.label)" v-ripple>
                                        <q-item-section avatar>
                                        <q-icon :name="menuItem.icon"></q-icon>
                                        </q-item-section>
                                        <q-item-section>
                                        {{ menuItem.label }}
                                        </q-item-section>
                                    </q-item>
                                  <!--   <q-separator :key="'sep' + index"  v-if="menuItem.separator"></q-separator> -->
                                </template>
                            </q-list>
                        </q-scroll-area>
                    </q-drawer>

                    <q-page-container>
                        <q-page padding>
                            <div v-if="activeTab == 'Fahrplan'">
                                <h3>Fahrplan</h3>
                                <p>Routen planen und Informationen über Stationen abrufen.</p>

                                <q-separator></q-separator>
                                <div>
                                    <p>Start: <b>{{ start.name }}</b></p>
                                    </br>
                                    <p>Ende: <b>{{ end.name }}</b>
                                    </p>
                                    <q-input v-model="input" label="Start"></q-input>
                                    <q-btn outline color="primary" label="Suche" style="margin: 1%;" @click="getLocations"></q-btn>
                                    <q-btn outline color="primary" label="Route berechnen" style="margin: 1%;" @click="getJourney"></q-btn>
                                    <q-btn outline color="primary" label="Route löschen" style="margin: 1%;" @click="deleteStartEnd"></q-btn>
                                </div>
                                <div>
                                    <q-card v-if="locations != []" v-for="element in locations" style="margin-top: 2%;" :key="element.id" class="my-card">
                                        <q-card-section>
                                            <div class="text-h6">{{element.name}}</div>
                                            <div class="row">
                                                <div v-for="line in element.lines" class="text-subtitle1">{{line.name}} {{ line.mode }} ||&nbsp;</div>
                                            </div>
                                        </q-card-section>

                                        <q-separator></q-separator>

                                        <q-card-actions vertical>
                                            <q-btn outline color="primary" @click="showDetail(element.id)">Details</q-btn>
                                            <q-btn outline color="primary" @click="setAsStart(element)">Als Start setzten</q-btn>
                                            <q-btn outline color="primary" @click="setAsEnd(element)">Als Ende setzten</q-btn>
                                        </q-card-actions>
                                    </q-card>
                                </div>
                                <q-dialog v-model="journeyDialog" full-width>
                                    <q-card>
                                        <q-card-section>
                                            <div class="text-h5"><b> {{ start.name }}</b> bis <b>{{ end.name }}</b></div>
                                            <div class="row">
                                                <div v-for="element in journey.lines" class="text-subtitle3"></div>
                                            </div>
                                        </q-card-section>
                                        <q-card-section class="q-pt-none">
                                            <div>
                                                <q-card v-for="element in journey.journeys" style="margin-top: 2%;" class="my-card">
                                                    <q-card-section>
                                                        <div v-for="leg in element.legs" class="text-h6">{{ leg.line.name }}&nbsp;{{ leg.line.mode }}&nbsp;{{ leg.departure }}&nbsp;-&nbsp;{{ leg.arrival }}</div>
                                                        <div class="row">
                                                            <div v-for="line in element.lines" class="text-subtitle1">{{line.name}} {{ line.mode }} ||&nbsp;</div>
                                                        </div>
                                                    </q-card-section>

                                                    <q-separator></q-separator>

                                                    <q-card-actions vertical>
                                                        <q-btn outline color="primary" @click="showDetail(element.id)">Details</q-btn>
                                                    </q-card-actions>
                                                </q-card>
                                            </div>
                                        </q-card-section>

                                        <q-card-actions align="right" class="bg-white text-teal">
                                            <q-btn flat label="OK" v-close-popup outline color="primary"></q-btn>
                                        </q-card-actions>
                                    </q-card>
                                </q-dialog>
                            </div>
                            <div v-if="activeTab == 'Karten'">
                                <h3>Karten</h3>
                                <p>Karten</p>
                            </div>
                            <div v-if="activeTab == 'Radar'">
                                <h3>Radar</h3>
                                <p>S-, U- und Busstationen in der nähe.</p>

                                <q-separator></q-separator>
                                <q-card v-if="stopsNearMe != []" v-for="element in stopsNearMe" style="margin-top: 2%;" :key="element.id" class="my-card">
                                    <q-card-section>
                                        <div class="text-h6">{{element.name}}</div>
                                        <div class="row">
                                            <div v-for="line in element.lines" class="text-subtitle1">{{line.name}} || {{ line.mode }}&nbsp;</div>
                                        </div>
                                    </q-card-section>

                                    <q-separator></q-separator>

                                    <q-card-actions vertical>
                                        <q-btn outline color="primary" @click="showDetail(element.id)">Details</q-btn>
                                    </q-card-actions>
                                </q-card>
                            </div>

                            <q-dialog v-model="detailDialog" full-width>
                                <q-card>
                                    <q-card-section>
                                        <div class="text-h5">{{ stopInfo.name }}</div>
                                        <div class="row">
                                            <div v-for="line in stopInfo.lines" class="text-subtitle3">{{line.name}} || {{ line.mode }}&nbsp;</div>
                                        </div>
                                    </q-card-section>

                                    <q-card-section class="q-pt-none">
                                        <div class="row">
                                            <div>
                                                <iframe v-bind:src="mapsUrl" width="300px" height="300px" frameborder="0"></iframe>
                                            </div>
                                            <div style="margin-left:2%">
                                                <div class="text-h4">Ankünfte in den nächsten 10 Minuten:</div>
                                                <div v-for="departure in departures" class="text-subtitle3 row">
                                                    Linie: &nbsp; <b>{{ departure.line.name }}</b>&nbsp;{{ departure.line.mode }} || &nbsp; Richtung: &nbsp;<b>{{ departure.direction }}</b> &nbsp;||&nbsp; Ankunft: &nbsp;<b>{{ departure.when }}</b> &nbsp;||&nbsp;
                                                    <p style="color:red"> Versp&auml;tung: &nbsp;<b>{{ departure.delay / 60 }} &nbsp;min</b>
                                                    </p>
                                                </div>
                                            </div>
                                        </div>
                                    </q-card-section>

                                    <q-card-actions align="right" class="bg-white text-teal">
                                        <q-btn v-close-popup outline color="primary" @click="setAsStart(stopInfo)">Als Start setzten</q-btn>
                                        <q-btn v-close-popup outline color="primary" @click="setAsEnd(stopInfo)">Als Ende setzten</q-btn>
                                        <q-btn flat label="OK" v-close-popup outline color="primary"></q-btn>
                                    </q-card-actions>
                                </q-card>
                            </q-dialog>

                            <div v-if="loadingScreen == true">
                                <q-spinner-ball color="primary" class="fixed-center" size="30%"></q-spinner-oval>
                            </div>
                        </q-page>
                    </q-page-container>
                </q-layout>
            </div>
        </div>

        <script src="https://cdn.jsdelivr.net/npm/vue@3/dist/vue.global.prod.js"></script>
        <script src="https://cdn.jsdelivr.net/npm/quasar@2.6.0/dist/quasar.umd.prod.js"></script>
        <script src="https://cdn.jsdelivr.net/npm/quasar@2.6.0/dist/lang/de.umd.prod.js"></script>
        <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js "></script>

        <script src="./index.js">
        </script>
</body>

</html>